trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  IMAGE_NAME: siddhussoft136/java-app
  IMAGE_TAG: $(Build.BuildId)

steps:
- task: JavaToolInstaller@1
  inputs:
    versionSpec: '8'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

- script: |
    docker build -t $(IMAGE_NAME):$(IMAGE_TAG) -t $(IMAGE_NAME):latest .
  displayName: 'Build Docker Image'


- script: |
    mkdir -p $(Build.ArtifactStagingDirectory)
    docker save $(IMAGE_NAME):$(IMAGE_TAG) -o $(Build.ArtifactStagingDirectory)/java-app-$(IMAGE_TAG).tar
  displayName: 'Export Docker Image to TAR'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'java-app'
    publishLocation: 'Container'