trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  IMAGE_NAME: siddhussoft136/java-app
  IMAGE_TAG: $(Build.BuildId)

steps:
- task: JavaToolInstaller@1
  inputs:
    versionSpec: '8'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

- script: |
    docker build -t $(IMAGE_NAME):$(IMAGE_TAG) -t $(IMAGE_NAME):latest .
  displayName: 'Build Docker Image'

- task: Docker@2
  displayName: 'Login to Docker Hub'
  inputs:
    command: login
    containerRegistry: 'dockerhub-acc' 

- script: |
    docker push $(IMAGE_NAME):$(IMAGE_TAG)
    docker push $(IMAGE_NAME):latest
  displayName: 'Push Image to DockerHub'

